<style>
#search-ajax {position: relative}

.my-active span{
  background-color: #FFBF00 !important;
  color: white !important;
  border-color: #FFBF00 !important;
  border: 1px solid;
  padding: 5px 8px;
  border-radius: 10px;
}

.pagination a {
    float: none!important;
}

.pager {
  display: flex;
  list-style: none;
  padding-left: 0px;
  font-size: 25px;
}

.pager span {
    padding: 8px 12px;
    margin: 0 10px;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 75% !important;
        margin: 1.75rem auto;
    }
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .7);
}
td{font-size: 16px;font-weight: 600;vertical-align: middle !important;}
th{vertical-align: middle !important;}
td.price {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
ul#dropdownmenu{
  display: block;
  position: absolute;
  overflow-y: scroll;
  height: 500px;
  width: 325px;
  left: 100%;
  top: -40px;
}
form{text-align: right;}
.form-group{text-align: left;}
#button_search{margin:10px; border-radius: 10px; color: white}

#search_data{
  height: 600px;
  overflow: scroll;
}

h3{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.back {
    margin-top: 30px;
    text-align: right;
}

button.btn-primary{
  border-radius: 10px;
  background-color: #2E9AFE;
}
</style>