body {
	margin: 0px;
}

.banner-top img {
	margin: 0 auto;
    height: 90px;
    width: auto;
}

.banner-top {
	text-align: center;
	background: #0095ff;
}

.content {
	margin-top: 30px;
}

#form {
	border: 2px solid #e5e5e5;
    border-collapse: collapse;
}

#form h4 {
	font-size: 13px;
	font-weight: bold;
	color: white;
	background: #2E9AFE;
	text-align: center;
	padding: 10px;
}

#form label {
	font-size: 13px;
	font-weight: bold;
	color: #848484;
}

#form .form-group {
	margin-left: 10px;
	margin-right: 10px; 
}

#form .button input {
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	font-size: 13px;
	width: 100px;
}

#form .button {
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.socical {
	display: inline-flex;
	margin-right: 30px;
}

.content2 {
	padding: 10px;
	color: white;
	background: #2E9AFE;
	text-align: center;
}

.content2 h5 {
	font-size: 13px;
	font-weight: bold;
}

.content2 p {
	font-size: 12px;
	font-weight: bold;
}

table, th, td {
    padding: 0px;
    border: 2px solid #e5e5e5;
    border-collapse: collapse;
}

.content-font1 tr {
	background-color: #2E9AFE;
	color: white; 
}

.content-font1 .one {
	background-color: #2E9AFE;
	color: white; 
	height: 25px;
}

.content-font1 {
	font-size: 14px;
}

.content-font1 th {
	text-align: center;
	vertical-align: middle!important;
	padding: 0!important;
}

.content-font2 {
	font-size: 12px; 
}

td {
	padding: .6rem !important;
}

.pagination {
  	display: inline-block;
}

img{max-width: 100%; max-height: 100%}

@media only screen and (min-width:761px) {
	.pagination a {
	  	color: black;
	  	float: left;
	  	padding: 5px 10px;
	  	text-decoration: none;
	  	transition: background-color .3s;
	  	border: 1px solid #ddd;
	  	margin: 0 7px;
	  	border-radius: 10px;
	}

	.pagination button {
		width: 70px;
		height: 35px;
		font-size: 13px;
		font-weight: bold;
		color: white;
		border-radius: 10px;
	}
}

@media only screen and (max-width:760px) {
	.content-left {
		margin-top: 40px;
	}
	.pagination a {
	  	color: black;
	  	float: left;
	  	padding: 5px 10px;
	  	text-decoration: none;
	  	transition: background-color .3s;
	  	border: 1px solid #ddd;
	  	margin: 0 1px;
	  	border-radius: 10px;
	}
	.banner-top img {
		margin: 0 auto;
	    height: 50px;
	    width: auto;
	}
}