.card{position: relative;border: 1px solid #0195ff}
h2{color: #0195ff}
.top h2{padding-top: 0.9em}
.bottom h2{padding-top: 1.2em}
.card-top{height: 200px;text-align: center;padding: 2em}
.card-bottom p{padding: 15px;text-align: center;margin:0px;background-color: #0195ff; color: white}
h2{text-transform: uppercase;}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
