.my-active span{
  background-color: #FFBF00 !important;
  color: white !important;
  border-color: #FFBF00 !important;
  border: 1px solid;
  padding: 5px 8px;
  border-radius: 10px;
}

.pagination a {
    float: none!important;
}

.pager {
  display: flex;
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

.pager span {
    padding: 8px 12px;
    margin: 0 10px;
}

.paginations a {
  	color: black;
  	float: left;
  	padding: 5px 10px;
  	text-decoration: none;
  	transition: background-color .3s;
  	border: 1px solid #ddd;
  	margin: 0 7px;
  	border-radius: 10px;
}

/* tim kiem point */
.form-group{display: flex; margin-left: 25%; margin-right: 25%}
#keywords1{margin-left: 45px}
#button_search {margin-left: 66%}
.khoa1{margin-left: 19%}

ul#dropdownmenu1 {
  display: block;
  position: absolute;
  overflow-y: scroll;
  height: 500px;
  width: 325px;
  left: 70%;
  top: -2%;
}

/*trang add point*/
.form-group1{margin-bottom: 2%;}
